

  /* <================== --------- STYLE START ---------  ==================> */
  /* <================== GOOGLE LINK ==================> */
  /* <================== GOOGLE BASIC ==================> */
  main, body{
    margin: auto;
    max-width: 1400px;
    min-width: 250px;
    width: 100%;
    overflow-x: hidden;
  }
  img{
    width: 100%;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none !important;
    color: grey;
  }
  ::-webkit-scrollbar {
    width: .3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.581));
    box-shadow: 20px -20px 20px 20px rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgb(67, 67, 67), rgba(0, 0, 0, 0.581));
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  /* <================== GOOGLE SHORT ==================> */
  .h-100vh{
    height: 100vh;
  }
  .center{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .btn-dark, .btn-white{
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    background: transparent;
    border-radius: 100px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: .3s;
  }
  .btn-dark::before, .btn-white::before, .hover-line::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    border-radius: 100px;
    transition: .4s;
  }
  .btn-white{
    color: rgb(255, 255, 255) !important;
    border: 1px solid rgb(0, 0, 0) !important;
  }
  .btn-white::before{
    background-color: rgb(0, 0, 0) !important;
  }
  .btn-dark:hover{
    color: black;
  }
  .btn-white:hover{
    color: rgb(255, 255, 255);
  }
  .btn-dark:hover::before, .btn-white::before, .hover-line:hover::before{
    width: 100%;
  }
  .hover-line{
    width: max-content;
    position: relative;
  }
  .hover-line::before{
    height: 5% !important;
    top: 85%;
    background: rgb(0, 0, 0) !important;
    z-index: 1;
  }
  nav .inner-div .hover{
    width: 55px;
    height: 45px;
    position: absolute;
    bottom: -2.6px;
    left: -84%;
    filter: none;
    transition: .3s;
    transition-delay: .2s;
  }
  .hover-text-light:hover{color: white;}
  .hover-text{
    transition: .3s;
    cursor: pointer;
  }
  .hover-text:hover{color: rgb(255, 171, 108) !important;}
  /* <================== SECTION STYLE ==================> */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* LADING PAGE */
  .lading{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    z-index: 10000;
    transition: .3s;
    animation: lading .5s linear 1.2s forwards;
}
@keyframes lading {
100% {
    z-index: -10000;
}
}
.spinner-border{
    position: absolute;
    scale: 5;
    font-size: 3px;
}

  nav{
    top: -1px;
    position: absolute;
    justify-content: space-around !important;
  }
  nav menu{
    padding: 0 70px;
    padding-bottom: 5px;
    width: 400px;
    position: relative;
    /* overflow: hidden; */
  }
  nav .inner-div{
    justify-content: space-between !important;
    position: relative;
  }
  nav menu img{
    z-index: -1;
    position: absolute;
    left: 0; right: 0; margin: auto;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 5px 5px black);
  }
  nav menu a{
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 10px;
    text-transform: capitalize;
    font-size: 20px;
    transition: .4s;
    transition-delay: .2s;
  }
  nav menu a.active, nav menu a:hover{
    color: white;
    transform: translate(0, 10px);
  }
  /* <================== HERO ==================> */
  .hero{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.244),rgba(0, 0, 0, 0.184)), url(imgs/image\ header.png) no-repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 500px;
  }
  .hero>div{
    text-align: left;
    width: 100%;
  }
  .hero .box1{
    margin-top: 100px;
    padding: 0 5%;
    font-size: 50px;
    font-weight: 600;
    max-width: 650px;
    align-self: self-start;
  }
  .hero .box2>div{
    margin-top: 50px;
    margin-left: 20vw;
    max-width: 500px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.462);
    border-radius: 10px;
  }
  .hero .box3{
    justify-content: end !important;
    padding: 5vw;
  }
  .hero .box3>div{
    max-width: 300px;
    justify-content: end;
  }
  .box3>div>div{border-left: 2px solid white; width: 100%; height: max-content;}
  .box3 h2{font-size: 20px;}
  .hero .box3 h2{
    margin-left: 15px;
  }
  .hero .box3 span{font-size: 10px; margin-left: 15px;}
  /* <================== SECTION1 ==================> */
  .section1{
    width: 100%;
    padding: 50px 0;
    padding-bottom: 0;
    height: max-content;
    transition: .5s;
  }
  .section1 .bgImage{
    width: 60%;
    height: 20px;
    rotate: 180deg;
  }
  .section1 .contain{
    margin: auto;
    width: 50%;
    transition: .5s ease-in;
  }
  .section1 .content{
    padding: 100px 5vw;
  }
  .section1 .contain:nth-child(1).active{
    top: 100%;
    scale: 0;
    animation: contain1 1s ease-in-out 1s forwards;
  }
  @keyframes contain1 {
    100%{
      top: 0;
      scale: 1;
      width: 100%;
    }
  }
  .section1 .contain:nth-child(1) div:nth-child(1){padding: 20px;}
  .section1 .contain:nth-child(1) img{
    width: 0vw;
    border-radius: 20px;
    transition: .5s ease-in-out;
  }
  .section1 .contain:nth-child(1) img:hover{scale: 1.1; rotate: -10deg;}
  .section1 .contain h1{
    max-width: 400px;
  }
  .section1 .btn-dark:hover{
    color: white;
    border-color: white;
  }
  .section1 .contain:nth-child(1) small{
    font-size: 17px;
    color: gray;
  }
  .section1 h2{
    margin: 50px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
  
 .section1 .btn-dark, .section1 .btn-dark::before{
    border-radius: 5px;
  }
 .section1 .btn-dark{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
.section1 .btn-dark::before{
    background: rgb(0, 0, 0);
  }

  /*  */
  .slider{
    z-index: 1;
    position: relative;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background: rgb(241, 241, 241);
    height: 550px;
    overflow: hidden;
}
.item{
    margin-top: 150px;
    position: absolute;
    width: 250px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next, #prev{
    position: absolute;
    top: 50%;
    color: #ffffff;
    background-color: transparent;
    text-shadow: 2px 2px 10px gray;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 15%;
    z-index: 1;
}
#next{
    left: unset;
    right: 15%;
}
.section1 .slider .center{
  justify-content: space-between !important;
}
.section1 p span{font-size: 10px;}
.section1 small{font-size: 10px;}
.section1 .img{width: 100%; height: 230px; overflow: hidden; border-radius: 20px;}
.section1 .item:hover img{scale: 1.2; rotate: -10deg;}
.section1 img{transition: .3s;}
.section1 .item::before{
 content: '';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 5%;
 background: #0000005c;
 transform: translate(0, 50px);
 filter: blur(20px);
 pointer-events: none;
}
  /*  */

  /* <================== SECTION2 ==================> */
  .section2{
    height: max-content;
    background: black;
    justify-content: space-around !important;
    color: #fff;
    align-items: normal;
    padding: 100px 0;
  }
  .section2>div{
    max-width: 300px;
  }
  .section2 h5{
    font-weight: 700;
    text-transform: capitalize;
  }
  .section2 p{
    color: rgb(221, 221, 221);
  }
  /* <================== SECTION3 ==================> */
  .section3{
    margin-top: 100px;
    position: relative;
    flex-direction: column;
  }
  .section3 .box1{
    align-items: end;
    justify-content: space-between;
  }
  .section3 .box1 h1{
    font-size: 4.5vw;
    color: rgb(255, 255, 255);
    text-shadow:  -2px 2px 5px rgb(189, 189, 189);
  }
  .section3 .col-8 p{
    max-width: 600px;
  }
  .section3 .box1 h3{
    font-weight: 700;
    margin-bottom: 50px;
  }
  .section3 ion-icon{
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid white;
    margin-top: 20px;
    transition: .3s;
  }
  .section3 .swiper-slide:hover ion-icon{rotate: 45deg;}
  .section3 .inner-div{
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 300px;
    color: rgb(211, 211, 211);
    transition: .3s;
  }
  .section3 .inner-div p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
  .section3 .inner-div p:nth-child(2){
    font-size: 13px;
  }
  .swiper-slide:hover .inner-div{opacity: 1;}
  /* 
   */
   .section3 .swiper{
    height: max-content;
    padding: 50px 0 100px 0;
   }
   .swiper-slide{
    position: relative;
    width: 70px !important;
    height: 400px !important;
    color: white !important;
    background: black;
    transition: .3s !important;
    transition-delay: .2s;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
   }
   .swiper-slide::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: #0000001f;
    transform: translate(0, 100px);
    filter: blur(20px);
    pointer-events: none;
   }
   .swiper-slide:hover{
    width: 300px !important;
   }
   .swiper-slide .content{
    overflow: hidden;
   }
   .swiper-slide img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    transition: .3s;
   }
   .swiper-slide:hover img{
    opacity: .5;
   }
   .swiper-pagination-bullet-active{
    background-color: black !important;
    width: 20px !important;
    border-radius: 100px !important;
   }
   .tranding-slider-control .slider-arrow{
    color: white;
    text-shadow: 2px 2px 10px black;
    font-size: 10px;
    width: 20px; height: 20px;
    border-radius: 100px;
    padding: 10px;
    transition: .7s;
    scale: .5;
   }
   .tranding-slider-control .slider-arrow:hover{
    scale: .7;
   }
   .section1 p{
    line-height: 13px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: -2px;
   }
   /* 
    */
  .section3 .img-box{
    width: 100%;
    height: 20px;
    background: rgb(53, 53, 53);
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  .section3 .img-box img{
    max-width: 600px;
    height: 100%;
  }
  
  /* <================== SECTION4 ==================> */
  .section4{
    color: white;
    background: rgb(53, 53, 53);
    justify-content: space-around;
    padding: 100px 0;
  }
  .section4 .item1{
    max-width: 600px;
  }
  .section4 .item1 p{
    color: #c8c8c8;
    font-size: 13px;
  }
  .section4 form{
    justify-content: left;
    gap: 10px;
  }
  .section4 button, .section4 button::before, footer .btn-dark, footer .btn-dark::before{
    border-radius: 5px;
  }
  .section4 button, footer .btn-dark{
    border-color: rgb(255, 154, 77);
    color: rgb(255, 154, 77);
  }
  .section4 button::before, footer .btn-dark::before{
    background: rgb(255, 154, 77);
  }
  .section4 input{
    padding: 3px;
    width: 250px;
  }
  .section4 small{
    font-size: 10px;
  }
  .section4 .item1 a{
    color: rgb(255, 154, 77);
    text-decoration: underline !important;
  }
  .section4 .item1 a:hover{
    color: rgb(255, 129, 33);
  }
  .section4 .item2{
    padding: 0 30px;
    position: relative;
  }
  .section4 .item2::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 0, 0, 0);
    box-shadow: inset -1px 0 5px rgb(105, 105, 105);
    border-radius: 100px;
  }
  .section4 .item2 h3{
    line-height: 2px;
  }
  .section4 .box{
    max-width: 250px;
    margin-top: 30px;
  }
  .section4 .box h5{
    position: absolute;
  }
  /* <================== FOOTER ==================> */
  footer{
    background: black;
    color: white;
    overflow: hidden;
  }
  /* 
   */
  footer  .container{
    justify-content: space-around !important;
  }
  footer div:nth-child(1) small:nth-child(1){
    font-size: 10px;
  }
  /* 
   */
  footer .item2{
    max-width: 900px !important;
   }
   footer .item2 .box{
    min-width: 200px;
    max-width: max-content;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 20px;
   }
   footer .item2 .box:nth-child(4){justify-content: left;}
   footer .item2 .box span{font-size: 13px;}
   footer .item2 .box a{color: white;}
   footer .item2 .box p{color: rgb(255, 154, 77);}
   footer .item2 .box:nth-child(1) p{color: white; line-height: 14px;}
   footer input{padding: 3px; background: transparent; color: #fff; border: none; outline: none; border-bottom: .7px solid rgb(173, 173, 173);}
   footer form{align-items: end !important;}
   footer .box button::before{border-radius: 5px 5px 0 0;}
   footer .box button{border-radius: 5px 5px 0 0; padding: 10px 20px;}
  /* 
   */
  .item3 .gap-5{margin-bottom: -13px;}
  /* <================== --------- STYLE END ---------  ==================> */
